@model OnlineStore.Models.Product
@{
    ViewBag.Title = "Product - " + Model.Name;
}
<h2>@Model.Name</h2>
<p>
    <img alt="@Model.Name"
         src="@Model.ImageUrl" />
</p>
<div id="album-details">
    <p>
        <em>@(Html.DisplayNameFor(model => model.Category) + ":")</em>
        @Model.Category.Name
    </p>
    <p>
        <em>@(Html.DisplayNameFor(model => model.Brand) + ":")</em>
        @Model.Brand.Name
    </p>
    <p>
        <em>@(Html.DisplayNameFor(model => model.Price) + ":")</em>
        @string.Format("{0:F}", Model.Price)
    </p>
    <p class="button">
        @Html.ActionLink("Add to cart", "AddToCart",
            "ShoppingCart", new { id = Model.ProductId }, "")
    </p>
</div>

